<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>table th, table td {padding: 10px;}</style>
</head>
<body>



</div>
<table data-th-border="2"  >
    <tr>
        <th>Id</th>
        <th>MODEL</th>
        <th>SERIES</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getId()}">id</td>
        <td th:text="${car.getName()}">model</td>
        <td th:text="${car.getSeries()}">series</td>

        <td>
            <tbody>
            <form action="#" data-th-action="@{/action/edit}" data-th-object="${model}" method="post">
                <button type="submit" name="action" value="save">add</button>
                <button type="submit" name="action" value="cancel">delete</button>
            </form>
            </tbody>
        </td>
    </tr>
</table>
</body>
</html>