
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User</h1>


<form th:method="post" th:action="@{/user}" th:object="${users}">

    <input type="text"  th:field="*{id}"  hidden>
    <br>
    <label for="name" >Имя:    </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="mail" >Mail:    </label>
    <input type="text" th:field="*{mail}" id="mail">
    <br>
    <label for="age" >Возраст:</label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <input type="submit" value="записать">

</form>



</body>
</html>